{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ user }}</h1>

    <table>
        <thead>
            <tr>

                <th>Messages</th>

            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>

                <td>{{ message.messages }}</td>
                {#<td>{% if message.date %}{{ message.date|date('Y-m-d H:i:s') }}{% endif %}</td>#}

            </tr>
        {% endfor %}
        </tbody>


    </table>

    <h1>Message creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" />
    {{ form_end(form) }}
{% endblock %}
